# Security
SECRET_KEY=key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000


# Database
DB_NAME=stripe_project
DB_USER=stripe_user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432


# Stripe
# USD
STRIPE_PUBLIC_KEY_USD=pk_test_your_key_here
STRIPE_SECRET_KEY_USD=sk_test_your_key_here

# EUR
STRIPE_PUBLIC_KEY_EUR=pk_test_your_key_here
STRIPE_SECRET_KEY_EUR=sk_test_your_key_here
